{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<section class="board admin-box">
  <h1 style="text-align:center; margin-bottom: 45px;">Admin Dashboard</h1>

  <!-- Stats row -->
  <div class="admin-stats">
    <div class="admin-stat">
      <b>Planes</b>
      <span class="admin-stat-num">{{ planes_count }}</span>
    </div>

    <div class="admin-stat">
      <b>Routes</b>
      <span class="admin-stat-num">{{ routes_count }}</span>
    </div>

    <div class="admin-stat">
      <b>Flights</b>
      <span class="admin-stat-num">{{ flights_count }}</span>
    </div>
  </div>
</section>

<section>
  <div class="card" style="margin-top:24px; padding:16px;">
    <img
      src="{{ url_for('static', filename=cancel_plot) }}"
      alt="Cancellation Rate by Month"
      style="max-width:100%; height:auto; display:block; margin:0 auto;"
    >
  </div>
</section>

<section>
  <div class="card" style="margin-top:24px; padding:16px;">
    <img
      src="{{ url_for('static', filename=employee_hours_plot) }}"
      alt="Employee flight hours"
      style="max-width:100%; height:auto; display:block; margin:0 auto;"
    >
  </div>
</section>

<section>
  <div class="card" style="margin-top:24px; padding:16px;">
    <img
      src="{{ url_for('static', filename=flights_by_hour_plot) }}"
      alt="Flights by takeoff hour"
      style="max-width:100%; height:auto; display:block; margin:0 auto;"
    >
  </div>
</section>

<section>
  <div class="card" style="margin-top:16px;">
    <img src="{{ url_for('static', filename=flights_completed_plot) }}"
         style="width:100%; max-width:900px; display:block; margin:auto;">
  </div>
</section>

<section>
  <div class="card" style="margin-top:16px;">
    <img src="{{ url_for('static', filename=top5_routes_plot) }}"
         style="width:100%; max-width:900px; display:block; margin:auto;">
  </div>
</section>

{% endblock %}