{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}

{% block content %}
<section class="board narrow-board">
  <h1>Admin Login</h1>

  <form method="post" class="form" style="margin-top:12px;">
    <label class="field-label">Employee ID</label>
    <input class="field-input" type="text" name="employee_id" required>

    <label class="field-label">Password</label>
    <input class="field-input" type="password" name="password" required>

    <button class="btn" type="submit">Login</button>
  </form>
</section>
{% endblock %}