<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{%block title%}FLYTAU{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="top_bar">
        <div class="container top_bar_inner">
            <a class="brand" href="{{ url_for('home') }}">FLYTAU</a>
            <nav class="nav">
                <a href="{{ url_for('home') }}">Home</a>

                {% if session.get("user_email") %}
                  <span class="nav-user">Logged in: {{ session.get("user_email") }}</span>
                  <a class="btn btn-outline" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                  <a href="{{ url_for('login') }}">Login</a>
                  <!--<a class="btn" href="{{ url_for('register') }}">Register</a>-->
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-wrap">
              {% for category, msg in messages %}
                <div class="flash flash-{{ category }}">{{ msg }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

</body>
</html>
