<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{%block title%}FLYTAU{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="{% block body_class %}{% endblock %}">
    <header class="top_bar">
        <div class="container top_bar_inner">
            <a class="brand" href="{{ url_for('home') }}">
              <img src="{{ url_for('static', filename='img/logo1.png') }}" alt="FLYTAU Logo" class="nav-logo">
            </a>
            <nav class="nav">

                {% if session.get("admin_employee_id") %}
                    <!-- ADMIN NAV -->
                    <a href="{{ url_for('admin') }}"
                       class="{% if request.endpoint == 'admin' %}active{% endif %}">
                        Flights
                    </a>

                    <a href="{{ url_for('admin_dashboard') }}"
                       class="{% if request.endpoint == 'admin_dashboard' %}active{% endif %}">
                        Dashboard
                    </a>

                    <a href="{{ url_for('admin_add_employee') }}"
                       class="{% if request.endpoint == 'admin_add_employee' %}active{% endif %}">
                        Add Employee
                    </a>

                    <form action="{{ url_for('admin_logout') }}" method="post" style="display:inline;">
                        <button type="submit" class="nav-link {% if request.endpoint == 'admin_logout' %}active{% endif %}">
                            Logout
                        </button>
                    </form>

                {% else %}
                    <a href="{{ url_for('home') }}"
                       class="{% if request.endpoint =='home' %}active{% endif %}">
                        Home
                    </a>

                    <a href="{{ url_for('book') }}"
                        class="{% if request.endpoint in ['book', 'booking_log', 'guest_details'] %}active{% endif %}">
                        Book a flight
                    </a>

                    <a href="{{ url_for('tickets') }}"
                        class="{% if request.endpoint == 'tickets' %}active{% endif %}">
                        My Tickets
                    </a>

                    {% if session.get("user_email") %}
                      <span class="nav-user">Logged in: {{ session.get("user_email") }}</span>

                      <a class="{% if request.endpoint == 'logout' %}active{% endif %}"
                        href="{{ url_for('logout') }}">
                        Logout
                      </a>

                    {% else %}
                      <a href="{{ url_for('login') }}"
                         class="{% if request.endpoint == 'login' %}active{% endif %}">
                          Login
                      </a>
                    {% endif %}

                    <a href="{{ url_for('admin_login') }}"
                        class="nav-right {% if request.endpoint in ['admin_login'] %}active{% endif %}">
                        Admin
                    </a>
                {% endif %}

            </nav>
        </div>
    </header>

    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-wrap">
            {% for category, message in messages %}
              <div class="flash flash-{{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </main>

</body>
</html>
