{% extends "base.html" %}
{% block title %}Booking Options{% endblock %}

{% block content %}
<section class="board narrow-board">
  <h1 style="font-size: 27px;">Already a member?</h1>

  <div style="display:flex; flex-direction:column; gap:12px; margin-top:16px;">
    <a class="btn" href="{{ url_for('login', next=url_for('flight_details', flight_id=flight_id)) }}">
     Login
    </a>

    <p class="muted" style="margin-bottom: 1px; font-size: 17px; gap: 10px;" >
      Not a member?
      <a class="btn" style="margin-top: 12px;" href="{{ url_for('register', next=url_for('login', flight_id=flight_id)) }}">
        Register
      </a>

      <a class="btn" style="margin-top: 5px;" href="{{ url_for('guest_details', flight_id=flight_id) }}">
        Continue as guest
      </a>
    </p>
  </div>
</section>
{% endblock %}