{% extends "base.html" %}
{% block title %}Booking Options{% endblock %}

{% block content %}
<section class="board narrow-board">
  <h1>Do you have an account?</h1>

  <div style="display:flex; flex-direction:column; gap:12px; margin-top:16px;">
    <a class="btn" href="{{ url_for('login', next=url_for('booking_log', flight_id=flight_id)) }}">
     Login
    </a>

    <p class="muted" style="margin-bottom: 14px; font-size: 25px; gap: 10px;" >
      Don't have an account?
      <a class="btn btn-outline" href="{{ url_for('register', next=url_for('booking_log', flight_id=flight_id)) }}">
        Register
      </a>

      <a class="btn" href="{{ url_for('guest_details', flight_id=flight_id) }}">
        Continue as guest
      </a>
    </p>
  </div>
</section>
{% endblock %}