{% extends "base.html" %}
{% block title %}Checkout{% endblock %}

{% block content %}
<section class="board">
  <h2>Checkout</h2>

  <p>
    <b>Order:</b> {{ order.order_id }}<br>
    <b>Flight:</b> {{ order.origin_airport }} → {{ order.destination_airport }}<br>
    <b>Takeoff:</b> {{ order.takeoff_date }} {{ order.takeoff_time }}<br>
    <b>Landing:</b> {{ order.landing_date }} {{ order.landing_time }}<br>
    <b>Status:</b> {{ order.order_status }}
  </p>

  <h3>Seats</h3>
  <ul>
    {% for s in seats %}
      <li>{{ s.class_type }} — Row {{ s.s_row }}, Col {{ s.s_column }}</li>
    {% endfor %}
  </ul>

  <h3>Total: {{ total }} ₪</h3>

  {% if order.order_status == 'Pending' %}
    <p class="muted" style="margin-top:10px;">
    Your seats are reserved for <b>15 minutes</b>.
    If you don’t confirm the order in time, the reservation will be cancelled automatically.
    </p>

    <form method="post" style="margin-top:12px;">
     <button class="btn" type="submit">Pay & Confirm</button>
    </form>
  {% endif %}

</section>
{% endblock %}