{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block flashes %}{% endblock %}

{% block content %}
<section class="board narrow-board">
  <h1>Login</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-wrap">
        {% for category, msg in messages %}
          <div class="flash flash-{{ category }}">{{ msg }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <form method="post" class="form">

  <input type="hidden" name="next" value="{{ next or '' }}">

    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="name@example.com" required>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" maxlength="8" placeholder="Up to 8 characters" required>

    <button class="btn" type="submit">Login</button>
  </form>

  <p class="muted" style="margin-top: 14px; font-size: 15px; gap: 10px;" >
    Don't have an account?
    <a href="{{ url_for('register', next=next) }}">Register</a>
  </p>
</section>
{% endblock %}