{% extends "base.html" %}

{% block title %}Login - FLYTAU{% endblock %}

{% block content %}
<section class="board narrow-board">
  <h1>Login</h1>

  <form method="post" class="form">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="name@example.com" required>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" maxlength="8" placeholder="Up to 8 characters" required>

    <button class="btn" type="submit">Login</button>
  </form>

  <p class="muted" style="margin-top: 14px;">
    Don't have an account?
    <a href="{{ url_for('register') }}">Register</a>
  </p>
</section>
{% endblock %}